[package]
name = "rqrtest"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
image = "0.25"
rqrr = { path = "../rqrr", features = ["img"] }

[profile.release]
opt-level = 3
debug = true
lto = false
panic = "abort"
